body {
    background-color:lightcyan;
}

table, td {
    border:1px solid black;
    border-collapse:collapse;
    text-align:center;
}

th {
    border:1px solid black;
    border-collapse:collapse;
    background-color:silver;
}

tbody td {
    font-style: italic;
}

tbody tr:nth-child(even) {
    background-color:aquamarine;
}

tbody tr:nth-child(odd) {
    background-color:aqua;
}

h1, h2, h3 {
    text-align:center;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: aquamarine;
}

a:active {
    text-decoration: none;
}