@font-face {
    font-family: "littleLordFontleroyNF";
    font-weight: 200;
    src: url(littleLordFontleroyNF.ttf);
}

th {
    font-size: larger;
    text-align: center;
}

.carousel-caption {
    position: absolute;
    padding-top: 20px;
    padding-bottom: 50px;
    color: 	rgb(0, 0, 0);
}

.carousel-indicators {
    color: rgb(0, 0, 0);
}

#footer {
    bottom: 0;
    height: auto;
    width: 100%;
    text-align: center;
}

#title {
    text-align: center;
    font-family: "littleLordFontleroyNF";
}

#homePage {
    background-color: rgba(255,0,0,0.15);
    width: 100%;
}

#description {
    border: 3px;
    width: 400px;
    border-style: solid;
    padding: 2em;
    text-align: justify;
}

table {
    background-color: rgba(255,0,0,0.15);
}

#form {
    font-weight: bold;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: palevioletred;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

a:active {
    text-decoration: none;
}